@import "./colors.scss";

$body-bg: $white;

$theme-colors: (
  "primary": $primary
);

$colors: (
  "tertiary": $blackText
);

@import "~bootstrap/scss/bootstrap";

* {
  font-family: "Open Sans", sans-serif;
}
